<h1><%= @race.name %></h1>

<h3>Attributes</h3>

<table class="table table-hover table-bordered">
<% @race.raceattrs.each do |a| %>
  <% if a.value != nil and a.value != 0 %>
    <tr>
      <td><strong><%= a.name %></strong></td>
      <td><%= sprintf "%+i", a.value %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br>
<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
