<%= form_for @skill do |f| %>
 
  <%= edit_name f %>

  <p>
    <%= f.label :attribute %><br>
    <%= f.collection_select :related_pattr, Physattr.all, :name, :name, prompt: true %>
  </p>

  <%= edit_summary f %>
  <%= f.submit %>
 
<% end %>
