<h1><%= @skill.name %></h1>
<p>
  <strong>Attribute:</strong> <%= @skill.related_pattr %>
</p>
<blockquote>
  <%= @skill.summary %>
</blockquote>
<h4>Examples</h4>
<ul>
<% @skill.examples.each do |e| %>
  <li><%= e %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
