<h1>HSDnD Backend</h1>
<%= link_to 'Physical Attributes', controller: 'physattrs' %><br>
<%= link_to 'Races', controller: 'races' %><br>
<%= link_to 'Skills', controller: 'skills' %><br>
<%= link_to 'Classes', controller: 'personalities' %><br>
<%= link_to 'Feats', controller: 'feats' %><br>

