<p id="notice"><%= notice %></p>

<%= show_title @advtype %>
<%= show_summary @advtype %>

<% if @advtype.usualRoles %>
  <strong>Usual roles:</strong> <%= @advtype.usualRoles.join(', ') %>.
<% end %>

<h3>Requirements:</h3>
<% @advtype.typereqs.each do |req| %>
<%= req %><br>
<% end %>

<div class="listing">
  <h3>Feats</h3>
</div>
